* {
  box-sizing: border-box;
}

body {
  padding: 20px 20px 100px 20px;
  background-color: #f4f4f4;
}

div.wrapper {
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
}

div.flex-container {
  display: flex;
  flex-wrap: wrap;
}

div.box {
  padding: 12px;
}

div.img1 {
  min-height: 220px;
  flex-basis: 220px;
  flex-grow: 1;
  background-image: url('../img/AS-home_feature-area_study-abroad.png');
  background-position: center;
  border: 1px solid #d3d3d3;
  margin: 8px;
}

#fullImage1 {
  display: none;
}

div.img2 {
  min-height: 220px;
  flex-basis: 220px;
  flex-grow: 1;
  background-image: url('../img/AS-home_feature-area_Rising-Tide.png');
  background-position: center;
  border: 1px solid #d3d3d3;
  margin: 8px;
}

div.img3 {
  min-height: 220px;
  flex-basis: 220px;
  flex-grow: 1;
  background-image: url('../img/Utopia_slider-image.png');
  background-position: center;
  border: 1px solid #d3d3d3;
  margin: 8px;
}

div.img4 {
  min-height: 220px;
  flex-basis: 220px;
  flex-grow: 1;
  background-image: url('../img/Bill-Nye_slider-image.png');
  background-position: center;
  border: 1px solid #d3d3d3;
  margin: 8px;
}

div.img5 {
  min-height: 220px;
  flex-basis: 220px;
  flex-grow: 1;
  background-image: url('../img/penn-parents-mockup-page.jpg');
  background-position: center;
  border: 1px solid #d3d3d3;
  margin: 8px;
}

div.img6 {
  min-height: 220px;
  flex-basis: 220px;
  flex-grow: 1;
  background-image: url('../img/UG-Posters_amira.jpg');
  background-position: center;
  border: 1px solid #d3d3d3;
  margin: 8px;
}

div.one {
  flex-basis: 200px;
  flex-grow: 1;
}

div.one .headshot {
  width: 200px;
  height: auto;
  padding-top: 10px;
}

div.two {
  flex-basis: 400px;
  flex-grow: 2;
  padding: 10px
}

body.page-home {
  background-image: url("../img/home-scene.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
  height: auto;
}

ul.nav-bar {
  list-style-type: none;
  margin: 0px auto;
  padding: 16px;
  margin-bottom: 20px;
}

li.nav {
  display: inline;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  letter-spacing: 3px;
  color: #373737;
  padding: 0px;
  margin: 4px;
}

li.nav a {
  margin-bottom: 4px;
  color: #373737;
  text-decoration: none;
  text-align: center;
  padding: 6px 10px;
}

/*ul {
  width: 200px;
  margin: 0 auto;
}
*/

.nav-home {
  width: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.nav-home li.nav {
  display: block;
  margin: 4px 8px;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  padding: 0px;
}

.nav-home li.nav a {
  border: 1px solid #ffffff;
  display: block;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  padding: 24px;
}

img.logo {
    width: 90%;
    padding: 10px;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #373737;
  padding-bottom: 14px;
}

hr {
  margin-bottom: 14px;
}


h1 {
  font-family: 'Playfair Display', serif;
  font-size: 34px;
  line-height: 36px;
  padding: 6px 0px;
  font-weight: 900;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  line-height: 30px;
  padding: 6px 0px;
  font-weight: 900;
}

h3 {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  line-height: 26px;
  padding: 6px 0px;
  font-weight: 600;
}

h4 {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  line-height: 26px;
  padding: 6px 0px;
  font-weight: 200;
}

h5 {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 6px 0px;
  font-weight: 600;
}

h6 {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 20px;
  padding: 6px 0px;
  font-weight: 600;
}


@media all and (min-width: 480px){

  #header-bg {
  background-image: url("../img/home-scene.jpg");
  background-repeat:no-repeat;
  height:150px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
  position: relative;
   }

  .nav-home {
/*
    position: static;
    transform: translate(0);
    margin: 0 auto;
*/
    width: 480px;
  }

  .nav-home li.nav {
    display: inline;
  }

  .nav-home li.nav a {
    display: inline-block;
  }

  .page-home img.logo {
    width: 75%;
    padding-top: 10px;
  }

  img.logo {
    width: 400px;
    padding: 10px 0px;
  }

  ul.nav-bar {
    margin-bottom: 40px;
  }

  hr {
    margin-bottom: 20px;
  }



}
